{
  "presets": ["next/babel"],
  "plugins": [
    ["import", { "libraryName": "antd", "style": true, "libraryDirectory": "lib" }, "antd"],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lodash"
    ]
  ]
}
